<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-items centre">
      <iframe src="https://ghbtns.com/github-btn.html?user=yargs&repo=yargs&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px">&nbsp;</iframe>
      <a href="https://gitter.im/yargs/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank"><img src="https://img.shields.io/gitter/room/nwjs/nw.js.svg?maxAge=2592000" alt="gitter" /></a>
      <div class="footer-text">
        Yargs · v5 · MIT License
      </div>
    </div>

  </div>

</footer>
