.content-root {
  font-size: 1.1rem;
  color: $text-color;
  padding-top: 4em;

  div.menubar.fixed {
    will-change: transform;
    padding-top: 75px;
  }
  
  .content h2 {
    text-transform: none;
    letter-spacing: initial;
  }
}
