/* LANDING PAGE SCSS */

.landing-wrapper {
  height: 60vh;
  box-sizing: border-box;
  #landing-image {
    width: 60%;
    float: left;
    .img-wrapper {
      height: 100%;
      width: auto;
    }
  }
  #description-wrapper {
    margin: 0 5em;
  }
}

.description {
  color: #17223C; 
  font-family: "PT Serif";
  font-size: 1.5em;
  display: inline;
}


.pink-highlight {
  color: #fff;
  display: inline;
  background-color: #F49BC2;
}
