/* LANDING PAGE SCSS */

.landing-wrapper {
  height: 60vh;
  box-sizing: border-box;
  #wrapper-image {
    background: url(https://cloud.githubusercontent.com/assets/37303/12069651/d0ce8b7c-aff3-11e5-9c1a-2b003b734acc.png) no-repeat center center fixed;
    background-size: cover;
  }
  #description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.description {
  color: #fff; 
  font-family: serif;
}

.pink-highlight {
  color: #0c0c0c;
  background-color: #F49BC2;
}
