/* LANDING PAGE SCSS */

.landing-wrapper {
  height: 75vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  #img-wrapper {
    height: 100%;
    width: auto;
    .landing-img {
      width: 80%;
      height: auto;
    }
  }
}

.title-text {
  font-family: $base-font-family;
  font-weight: 500;
  font-size: 3em;
  display: inline;
}

.description {
  @extend .title-text;
  color: $blue-color; 
}


.pink-highlight {
  background-color: $pink-color;
  display: inline;
}

.arrow {
  color: $blue-color;
}
