/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 65px;
    background-color: $light-grey;

    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
}

.site-title {
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    padding-left: 2em;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: 3em; 
    float: left;
    color: $purple-color;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-logo {
  position: absolute;
  top: 0.4em;
  width: 7em;
  left: 0.3em;
}

.site-nav {
    float: right;
    line-height: 65px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        font-family: $base-font-family;
        color: $blue-color;
        font-size: 1.5em;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/* GENERAL STYLES */
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items {
  display: flex;
  justify-content: space-between;
}


/**
 * Site footer
 */

.footer-items {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $blue-color;
  padding: 0.3em;
  a {
    color: $blue-color;
    &:hover {
      text-decoration: none; 
    }
  }
}

.footer-text {
  padding-right: 0.2em;
}

/**
 * Page content
 */
.page-item {
  padding: $spacing-unit 0;
}

.page-content {
  padding: 1.5em 0;
}

.page-box {
  width: 50%;
  border: 1px solid $grey-color-light;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-left: 0.5em;

  &:first-child {
    margin: 0 0.5em 0 0;
  }
  
  @include media-query($on-palm) {
    margin: 0.5em 0;
    width: inherit;
    &:first-child {
      margin: 0.5em 0;
    }
  }

}

.page-heading {
    font-weight: $base-font-weight;
    font-size: 2em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
