<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>yargs</title>

    <!-- Flatdoc -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/legacy.js'></script>
    <script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/flatdoc.js'></script>

    <!-- Flatdoc theme -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link  href='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/style.css' rel='stylesheet'>
    <script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/script.js'></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Fonts -->

    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Meta -->
    <meta content="yargs" property="og:title">
    <meta content="yargs the modern, pirate-themed successor to optimist." name="description">

    <!-- Initializer -->
    <script>
      // use a service to wrap registry json in jsonp
      var svcs = ['https://json2jsonp.com/', 'https://jsonp.afeld.me/']
      var i = 0
      var nextSvc = function () {
        var svc = svcs[i++]
        if (!svc) {
          // no jsonp services worked, just use master
          console.log('falling back to master branch :(')
          return Flatdoc.run({
            fetcher: Flatdoc.github('yargs/yargs', 'docs/api.md')
          })
        }
        $.ajax(svc, {
          data: {
            url: 'https://registry.npmjs.org/yargs'
          },
          dataType: 'jsonp',
          timeout: 2000,
          jsonpCallback: svc.replace(/\W/g, ''),
          success: function (data) {
            var version = data['dist-tags'] && data['dist-tags'].latest
            if (!version) return nextSvc()
            console.log('determined latest version as %s via %s', version, svc)
            Flatdoc.run({
              fetcher: Flatdoc.file('https://raw.githubusercontent.com/yargs/yargs/v' + version + '/docs/api.md')
            })
          },
          error: function () {
            console.log('service failed: %s, trying next', svc)
            nextSvc()
          }
        })
      }
      nextSvc()
    </script>
  </head>
  <body role='flatdoc' class='no-literate'>
    {{ content }}
  </body>
</html>
